.slide {
    width: 1224;
    height: 576;
    background-color: rgb(49, 49, 49);
    color: rgb(82, 82, 82);
    border: 1;
    border-width: 1px;
    border-color: brown;
    margin: 5px;
    font: 200%;
    position: relative;
    visibility: hidden;
    flex-flow: column;
    display: flex;
}

.slide.active {
    background-color: rgb(255, 255, 255);
    visibility: visible;
}

.slide_content{
    margin: 10px;
    flex-grow : 1;
}

.slide_head{
    width: 100%;
    margin-left: 10px;
    /* height: 30px; */
}

.page_number {
    position: absolute;
    bottom: 0;
    right: 20;
}

.slide img{
    width: 100%;
}

body {
    background-color: black;
    overflow: hidden;
    position: fixed;
    font-size: 20px;
}